.hero-wrap.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.hero-wrap.banner .profile-wrapper h2 {
  color: #ffffff; 
}

.hero-wrap.banner .profile-wrapper .profile {
  margin-top: 15px;
  color: #ffffff;
}

.hero-wrap.banner .profile-wrapper .profile h1 {
  color: #ffffff;
}

.hero-wrap.banner .profile-wrapper .profile .profile-img {
  width: 50px;
  height: auto;
}

.underline {
  position: relative;
}

.underline:before {
  content: "";
  background: #53b7ff;
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: -4px;
}

.banner-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

._fixed {
  position: fixed;
}

.down-arrow-btn {
  position: relative;
  display: inline-block;
  font-size: 26px;
  color: #b3c33a;
  text-align: center;
  width: 45px;
  height: 60px;
  line-height: 60px;
  border: 3px solid #b3c33a;
  border-radius: 10px;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
}

.down-arrow-btn i {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite;
}

.down-arrow-btn:hover i {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite;
}

@keyframes tipUp {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(40px);
  }
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.about-info li a,
.about-info li a span {
  color: #999999;
}